<div class="search">
  <input
    [appAutoFocus]="focused"
    id="search-field"
    class="search__field"
    [ngModel]="filterValue"
    [placeholder]="filterPlaceholder"
    (ngModelChange)="onChangeFilterValue($event)"
    type="text"
  />
  <!-- <svg-icon-sprite
    [attribute]="[
      ['class', 'search__icon'],
      ['width', '12'],
      ['height', '12'],
      ['aria-labelledby', 'search-field'],
      ['role', 'img']
    ]"
    [src]="'search'"
    [title]="'search icon'"
  ></svg-icon-sprite> -->
</div>
