.drop-down {
  $drop-down: &;

  position: relative;
  display: inline-block;
  border: 1px solid var(--grey);
  border-radius: 6px;

  @each $name in ("hover", "focus") {
    &:#{$name} {
      border-color: var(--slateblue);
      outline: none;
    }
  }

  &_active {
    #{$drop-down}__btn:after {
      content: "\f005";
    }

    border: {
      color: var(--slateblue);
      radius: 6px 6px 0 0;
    }
  }

  &__filter {
    padding: 10px 16px;
    background-color: var(--slateblue-light-98);
  }

  &__field {
    width: 220px;
    display: block;
    height: 38px;
    padding: 0 28px 0 20px;
    color: var(--black);
    background-color: transparent;
    cursor: pointer;
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 10px;
    background-color: transparent;
    background-color: var(--white);
    transform: translateY(-50%);

    &::after {
      color: var(--grey);
      font-size: 14px;
      font-family: var(--sym-font);
      content: "\f004";
    }
  }

  &__panel {
    opacity: 1;
    position: absolute;
    right: -1px;
    left: -1px;
    z-index: 3;
    background-color: var(--white);
    border: 1px solid var(--slateblue);
  }

  &__options {
    height: 100px;
    overflow-y: auto;
  }

  &__item {
    height: 20px;
    padding: 0 16px;
    color: var(--black-75);
    line-height: 20px;
    cursor: pointer;

    &_focused,
    &:hover {
      color: var(--white);
      background-color: var(--slateblue);
      outline: none;
    }
  }

  &__text {
    padding: 4px 0 4px 10px;
    color: var(--black-75);
  }
}
