:root {
  --main-font: "Montserrat", arial, sans-serif;
  --sym-font: fontello;
  --main-font-size: 12px;
  --black: hsl(238deg 35% 18%);
  --black-5: hsl(238deg 35% 18%);
  --black-25: hsl(238deg 35% 18%);
  --black-50: hsl(238deg 35% 18%);
  --black-75: hsl(238deg 35% 18%);
  --slateblue: hsl(248deg 53% 58%);
  --slateblue-light-70: hsl(248deg 53% 70%);
  --slateblue-light-98: hsl(248deg 53% 98%);
  --blue: hsl(202deg 56% 54%);
  --blue-alpha: hsl(202deg 56% 54% 50%);
  --orange: hsl(36deg 100% 57%);
  --green: hsl(88deg 50% 53%);
  --lime: #419d78;
  --lime-light: hsl(156deg 41% 44%);
  --grey: hsl(210deg 14% 83%);
  --white: hsl(0deg 0% 100%);
}
